<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Sectors</title>
</head>
<body>
<form [formGroup]="userSaveForm" (submit)="saveInformation()" (reset)="resetInformation()" ngNativeValidate>
  <div>
    <div>
      Please enter your name and pick the Sectors you are currently involved in.
      Hold down CTRL button to select multiple or deselect.
    </div>
    <div>
      <label for="name">Name<span class="required" title="required">*</span></label>
      <input type="text" id="name" required formControlName="name"/>
    </div>
    <div>
      <label for="sectors">Sectors<span class="required" title="required">*</span></label>
      <app-sector-selector id="sectors" [form]="userSaveForm"></app-sector-selector>
    </div>
    <div>
      <label for="hasAgreedToTerms">Agree to terms<span class="required" title="required">*</span></label>
      <input type="checkbox" id="hasAgreedToTerms" formControlName="hasAgreedToTerms" required/>
    </div>
    <div>
      <button type="submit" style="background-color: #4CAF50;">Save</button>
      <button type="reset">Reset</button>
    </div>
  </div>
</form>
<div>
  <label for="users" style="padding-left: 0.5em;margin-right: 1em;">Choose a user</label>
  <select id="users" [(ngModel)]="chosenUserId" (change)="switchUser(chosenUserId)">
    <option></option>
    <option *ngFor="let user of users" value="{{user.id}}">{{user.name}}</option>
  </select>
</div>
</body>
</html>
